
<p>Welcome to Rock, Paper, Scissors. There are 3 simple rules...
  <br>
  <br>
  <div class="rules">
    1. Rock beats Scissors
    <br>
    2. Paper beats Rock
    <br>
    3. Scissors beat Paper
  </div>
  <br>
  <div class="play">
    <a href="/:player1/:player2"><b>LET'S PLAY!</b></a>
  </div>
</p>
